@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    font-family: 'Spartan', sans-serif;
    background-color:  #24252b;
    color: #fff
}

section {
    height: 100vh;
}
.main_navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}
nav a {
    text-decoration: none;
}

h1 {
    max-width: 20ch;
    line-height: 1.2;
}

p {
    font-weight: 300;
    margin-top: 20px;
    max-width: 28ch;
    line-height: 1.7;
    font-size: 0.8em;
    color: #ddd;
}


p span {
    font-size: 20px;
    line-height: 1;
}
